/* *****************************************
/* SETUP
/*******************************************/




/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Noto Sans TC', Helvetica, Arial, sans-serif;

     background-image: url(../images/bliss.png);
     user-select: none;

     width: 100lvw;
    height: 100lvh;
    overflow:hidden;

    cursor: default;
}

:root{
     --window-bar-margin: 25px;
     --icon-margin-top: 4px;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#select-box{
     border: rgb(128, 128, 128) 1.5px dotted;
     position:absolute;
}
#screen{
     z-index: 0;
}
#taskbar{
     background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
     height:30px;
     width:100%;
     position:absolute;
     bottom:0;

     display:flex;

     z-index: 3;
}
#start:hover{
     filter: brightness(107.5%);
}
#start{
     height:30px;
}

.draggable-window{
     width:300px;
     height:200px;

     position:absolute;
     top:200px;
     left:500px;

     min-width: 200px;
     min-height: 150px;
     z-index:1;
     background-color: rgb(8, 49, 217);
     padding:5px;
     border-top-right-radius:6px;
     border-top-left-radius:6px;
}
.window-bar{
     background: linear-gradient(rgb(0, 88, 238) 0%, rgb(53, 147, 255) 4%, rgb(40, 142, 255) 6%, rgb(18, 125, 255) 8%, rgb(3, 111, 252) 10%, rgb(2, 98, 238) 14%, rgb(0, 87, 229) 20%, rgb(0, 84, 227) 24%, rgb(0, 85, 235) 56%, rgb(0, 91, 245) 66%, rgb(2, 106, 254) 76%, rgb(0, 98, 239) 86%, rgb(0, 82, 214) 92%, rgb(0, 64, 171) 94%, rgb(0, 48, 146) 100%);
     width:100%;
     height:var(--window-bar-margin);
     display:flex;
     justify-content: space-between;
}
.window-body{
     background-color:white;
     width:100%;
     height:calc(100% - var(--window-bar-margin)); 
     /* HORRIBLE magic numbers. i cry when i see*/
}
.window-bar-button{
     width: 22px;
     height: 22px;
     background-color:green;
     box-shadow: rgb(70, 70, 255) 0px -1px 2px 1px inset;
     background-image: radial-gradient(circle at 90% 90%, rgb(0, 84, 233) 0%, rgb(34, 99, 213) 55%, rgb(68, 121, 228) 70%, rgb(163, 187, 236) 90%, white 100%);

     border: 1px solid rgb(255, 255, 255);
     border-radius: 3px;
     margin-right:1px
}
.window-bar-button:hover{
     filter: brightness(115%);
}
.window-bar-icon{
     width:15px;
     height:15px;
     margin:var(--icon-margin-top) 4px 0 4px;
}
.window-bar-span{
     margin-top: var(--icon-margin-top);
     font-weight: 500;
     margin-right:auto;
}
.text-color{
     text-shadow: rgb(0, 0, 0) 1px 1px;
     color: white;
}
.close{
     box-shadow: rgb(218, 70, 0) 0px -1px 2px 1px inset;
     background-image: radial-gradient(circle at 90% 90%, rgb(204, 70, 0) 0%, rgb(220, 101, 39) 55%, rgb(205, 117, 70) 70%, rgb(255, 204, 178) 90%, white 100%); 
}
.zoom-big::before{
     content:'';
     position: relative;
     transform: scale(1.2, 1.2) translate(10%, 10%);
     display: block;
     left: 12%;
     top: 10%;
     box-shadow: white 0px 3px inset, white 0px 0px 0px 1px inset;
     height: 12px;
     width: 12px;

}
.close {
     box-sizing: border-box;
     position: relative;
     display: block;
     transform: scale(var(--ggs,1));
 }
 .close::after,
 .close::before {
     color:white;
     content: "";
     display: block;
     box-sizing: border-box;
     position: absolute;
     width: 18px;
     height: 2px;
     background: currentColor;
     transform:  rotate(45deg) scale(1, 1);
     top: 43%;
     left: 6.2%;
 }
 .close::after {
     transform:  rotate(-45deg) scale(1, 1);
 }
.minimize::before{
     content:'';
     position: relative;
     transform: scale(1.2, 1.2) translate(10%, 10%);
     display: block;
     left: 15%;
     top: 60%;
     height: 2.5px;
     width: 7px;
     background-color:white;
}
.zoom-small::before{
     content: "";
     position: relative;
     display: block;
     left: 7px;
     top: 4px;
     box-shadow: white 0px 2px inset, white 0px 0px 0px 1px inset;
     height: 8px;
     width: 8px;
}
.zoom-small::after{
     content: "";
     position: relative;
     display: block;
     left: 4px;
     box-shadow: white 0px 2px inset, white 0px 0px 0px 1px inset, rgb(19, 109, 255) 1px -1px;
     height: 8px;
     width: 8px;
     background-color: rgb(19, 109, 255);
}

.window-bar-buttons{
     display:flex;
     flex-flow: no-wrap row;
     margin-top: -1px;
     margin-right: 1px;
}

.resize-handler {
     position: absolute;
     width: 5px;
     height: 5px;
}
    
.north-east {
     right: 0;
     top: 0;
     cursor:ne-resize;
}

.north-west {
     left: 0;
     top: 0;
     cursor:nw-resize;
}

.south-east {
     right: 0;
     bottom: 0;
     cursor:se-resize;
}

.south-west {
     left: 0;
     bottom: 0;
     cursor:sw-resize;
}

.north {
     top: 0;
     left: 50%;
     width:calc(100% - 10px);
     transform: translateX(-50%);
     cursor:n-resize;
}

.south {
     bottom: 0;
     left: 50%;
     width:calc(100% - 10px);
     transform: translateX(-50%);
     cursor:s-resize;
}

.east {
     right: 0;
     top: 50%;
     height:calc(100% - 10px);
     transform: translateY(-50%);
     cursor:e-resize;
}

.west {
     left: 0;
     top: 50%;
     height:calc(100% - 10px);
     transform: translateY(-50%);
     cursor:w-resize
}

/* OKAY BITCHES ITS ICON TIME */
.icon{
     width:70px;
     height:60px;

     display:flex;
     align-items:center;
     flex-direction: column;
     position:absolute;
     left:45px;
}
.icon img{ /*for icon image*/
     width:30px;
     height:30px;
     user-select:none;
     pointer-events: none;
     -webkit-user-drag: none;
}
.icon-name{
     margin-top:7.5px;
     text-align: center;

     width:80px;

     padding: 3px 2px 1px 2px;

     color:white;
     text-shadow: #000 0 1px 1px;
     font-size:0.6rem;
}
/* on click of icons */
.icon-active .icon-name{
     background-color:rgb(11, 97, 255);
}
.icon-active img{
     opacity: 50%;
}
.invisible{
     opacity:0;
     pointer-events: none;
     position:absolute;
}
.ellpises-overflow{
     overflow: auto;
     text-overflow: ellipsis;
}
.icon-footer{
     background-color: rgb(83, 163, 255);
     box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
     width: 150px;
     height:22px;
     margin-top:5px;
     border-radius:2px;
     color: white;
}
.icon-footer:hover{
     filter: brightness(110%);
}
.icon-footer > img{
     width:15px;
     height:15px;
     margin-top:3.5px;
     margin-left:5px;
     margin-bottom:-3px;
     margin-right:6px;
}
#icon-footers{
     margin-left:10px;
     width:100%;
     display:flex;
     justify-content:start;
}

.objectpage {
     width:100%;
     height:100%;
     
}